table.middleSection {background-image:url('http://farm3.static.flickr.com/2504/3839830270_cc3ed3c876_o.jpg');}
table.middleSection td.leftSection {width:337px; padding:0px; vertical-align:top; line-height:18px;}
table.middleSection td.leftSection div {padding:0px 16px 0px 16px; display:block;}
table.middleSection td.leftSection div h1 {font-size:32px; margin: 30px 0px; font-weight:normal; display:block;}
table.middleSection td.leftSection div h2 {font-size:18px; margin: 20px 0px; font-weight:normal; display:block;}
table.middleSection td.leftSection div table tr td {color:white; font-size:14px;}
table.middleSection td.leftSection div table tr td.right {width: 100px; }

table.middleSection td.middleSection {width:256px;}

table.middleSection td.rightSection {width:347px; line-height:18px; vertical-align:top;}
table.middleSection td.rightSection div {display:block; margin: 34px 5px 24px 20px; overflow:hidden; height:100%;}
table.middleSection td.rightSection div h1 {font-size: 18px; font-weight:500; margin: 30px 0px 14px 0px;}
table.middleSection td.rightSection div a {font-size: 14px; color:white; margin: 6px 0px; display:block;}

table.bottomSection {background-color:white; width:940px; margin: 0 auto; display:block; height:auto; table-layout:fixed; border-collapse:collapse; color:white; empty-cells:show}

table.bottomSection td.leftSection {width:356px; vertical-align:top }
table.bottomSection td.leftSection h1 {font-size: 26px; font-weight:500; margin: 10px 6px; color:#505050;}
table.bottomSection td.leftSection iframe {margin: 0px 16px 0px 6px; width:346px; display:block;}
table.bottomSection td.leftSection table {border-collapse:collapse; width:100%; height:1px; }
table.bottomSection td.leftSection table tr td span {color:#505050; font-size:12px;}

table.bottomSection td.rightSection {width:584px; vertical-align:top; }
table.bottomSection td.rightSection h1 {font-size: 26px; font-weight:500; margin: 10px 6px; color:#505050;}
table.bottomSection td.rightSection p {margin: 10px 6px; color:#505050; font-size:12px;}
table.bottomSection td.rightSection img {margin: 2px 6px;}
table.bottomSection td.rightSection h2 {font-size: 20px; font-weight:normal; margin: 10px 6px; color:#7DB639;}
table.bottomSection td.rightSection table {border-collapse:collapse; width:100%; height:1px; margin-bottom:10px}
table.bottomSection td.rightSection table tr td {padding: 0px; vertical-align:top}
table.bottomSection td.rightSection table tr td span {display:block; font-size:12px; color:#505050; margin: 0px 36px 0px 6px}


