body {background-image:url('http://farm4.static.flickr.com/3468/3748385543_3c0f7eaec0_o.gif'); background-repeat:repeat-x;}

table.middleSection {height:74px;}
table.middleSection td {padding:0px; vertical-align:top;}
table.middleSection td div {padding:10px 0px 0px 4px; display:block;}
table.middleSection td div h1 {font-size:20px; margin: 0px; font-weight:normal}

table.middleSection td.leftSection {width:569px;}
table.middleSection td.rightSection {width:371px;}

table.bottomSection td {font-size:12px; vertical-align:top; color:#505050; padding: 4px}

table.bottomSection td.leftSection {width:569px; padding: 14px}
table.bottomSection td.leftSection table tr td {padding:6px 0px;}
table.bottomSection td.leftSection table tr td h1 {margin:0px 0px 3px 0px;}
table.bottomSection td.leftSection table tr td  h1 a {color:#7DB639; font-size:16px; text-decoration:none }
table.bottomSection td.leftSection table tr td p {display:inline}
table.bottomSection td.leftSection table tr td a {color:#505050;}
table.bottomSection td.leftSection table tr td.image{vertical-align:middle}
table.bottomSection td.leftSection table tr td.image a img {border: none; margin-left:5px}

table.bottomSection td.rightSection {width:371px; padding: 14px}
table.bottomSection td.rightSection table.videoList td {vertical-align:top; padding:6px 0px;}
table.bottomSection td.rightSection table.videoList td h1 {margin:0px 0px 3px 0px;}
table.bottomSection td.rightSection table.videoList td h1 a {color:#7DB639; font-size:16px; text-decoration:none; margin: 0px; padding: 0px }
table.bottomSection td.rightSection table.videoList td p {margin:0px}
table.bottomSection td.rightSection table.videoList td a {color:#7DB639; font-size: 14px; margin:12px 0px; display:block;}
table.bottomSection td.rightSection table.videoList td a img {border:none; margin-left:5px}

