.ui-widget{font-size:11px !important;}

.ui-widget table td{font-size:11px !important;}
.ui-widget table th{font-size:11px !important;}

.fg-button {
   font-size:11px !important;
   outline: 0;
   margin:0 4px 0 0;
   padding: 4px;
   text-decoration:none !important;
   cursor:pointer;
   position: relative;
   text-align: center;
 
 }

 body {font-size:11px; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;}
 table td {font-size:11px; font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;}
 table.tablesorter td {padding:0px 1px !important}
 table.tablesorter td input {width:100%}

 table.iconContainer { border-collapse:collapse; width:1px; margin: 0px; background-color:transparent}
 table.iconContainer td {background-color:transparent!important}





