body {margin: 0; font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif; text-align: center; }

div.topMenu {width: 940px; height:139px; margin: 20px auto 0px auto; }
div.topMenu table {border-collapse:collapse; width:100%; height:100% }
div.topMenu table tr td a img {border: 0 none }
div.topMenu td.top {color:#636262; font-size: 11px; text-decoration:none; height:20px; vertical-align:top; text-align:right}
div.topMenu td.top a{color:#636262; font-size: 11px; text-decoration:underline; }
div.topMenu td.main {height:100%; vertical-align:bottom; padding-bottom:10px;}
div.topMenu td.main table tr td a {color:black; text-decoration:none; font-size: 14px; white-space:nowrap}
div.topMenu td.main table {height:1px; width:1px; table-layout:fixed}

table.middleSection {width:940px; margin: 0 auto; display:block; height:269px; table-layout:fixed; border-collapse:collapse; color:white; empty-cells:show; overflow:hidden}
table.middleSection td{padding:0px; font-size:12px; overflow:hidden;}

table.bottomSection {background-color:white; width:940px; margin: 0 auto; display:block; height:auto; table-layout:fixed; border-collapse:collapse; color:white; empty-cells:show}

div.footer p{color:#787878; margin: 8px auto; font-size:11px;}

table.button {height:29px; border-collapse:collapse; margin: 10px 0px; cursor:pointer;}
table.button tr td {background-image:url('../img/components/button.gif'); background-repeat:repeat-x; padding: 0px 10px; color:white; font-size:16px; font-weight:500}
table.button tr td a {text-decoration:none; color: white}
table.button tr td.left {background-image:url('../img/components/buttonLeft.gif'); width:3px; padding: 0;}
table.button tr td.right {background-image:url('../img/components/buttonRight.gif'); width:3px; padding: 0;}


a.button {background-image:url('http://farm4.static.flickr.com/3442/3907841308_58b625cfdf_o.jpg'); height:18px; color:White; padding:1px 14px 2px 12px; text-decoration:none;}

input {height:18px; width:150px; border:1px solid #787878; margin: 0px 4px 2px 0px; color: #303030; font-size:11px }
textarea {width:150px; border:1px solid #787878; margin: 0px 4px 2px 0px; color: #303030; font-size:11px }
select {height:18px; width:150px; border:1px solid #787878; margin: 0px; color: #303030; font-size:11px }