body.frontpage {background-color:#EFEFEF; background-image:url('background.jpg'); background-repeat:repeat-x; margin:0; font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;}
body.frontpage table.middleSection {background-image:url('main_image2.jpg'); width:940px; margin: 0 auto; display:block; height:269px; table-layout:fixed; border-collapse:collapse; color:white; empty-cells:show}
body.frontpage table.middleSection td.leftSection {width:269px; }
body.frontpage table.middleSection td.leftSection h1 {font-size: 36px; line-height: 35px; font-weight:500; margin: 20px 18px 10px 20px}
body.frontpage table.middleSection td.leftSection h2 {font-size: 24px; line-height: 25px; font-weight:500; margin: 10px 18px 10px 20px}

body.frontpage table.middleSection td.middleSection {width:402px}
body.frontpage table.middleSection td.rightSection {width:269px; vertical-align:top;}
body.frontpage table.middleSection td.rightSection div {display:block; margin: 24px 5px 50px 60px;}
body.frontpage table.middleSection td.rightSection div h1 {font-size: 18px; font-weight:500; margin: 3 0;}
body.frontpage table.middleSection td.rightSection div a {font-size: 14px; color:white}

table.button {height:29px; border-collapse:collapse; color:white; margin: 10px 18px 10px 20px; cursor:pointer;}
table.button tr td {background-image:url('nd_button.gif'); background-repeat:repeat-x; padding: 0px 10px;}
table.button tr td.left {background-image:url('nd_buttonLeft.gif'); width:3px; padding: 0;}
table.button tr td.right {background-image:url('nd_buttonRight.gif'); width:3px; padding: 0;}