<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="session1">
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/ksno?useUnicode=true&amp;amp;characterEncoding=UTF-8&amp;amp;useFastDateParsing=false&amp;autoReconnect=true</property>
    <property name="hibernate.connection.username">web_admin</property>
    <property name="hibernate.connection.password">Haukel1seter</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <!-- seconds -->
    <property name="hibernate.c3p0.max_size">100</property>
    <property name="hibernate.c3p0.max_statements">0</property>
    <property name="hibernate.c3p0.min_size">10</property>
    <property name="hibernate.c3p0.timeout">100</property>
    <!-- seconds -->
    <!-- DEPRECATED very expensive property name="c3p0.validate>-->
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="ksno/model/Person.hbm.xml"/>
    <mapping resource="ksno/model/Article.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="ksno/model/Image.hbm.xml"/>
    <mapping resource="ksno/model/Event.hbm.xml"/>
    <mapping resource="ksno/model/Participation.hbm.xml"/>
    <mapping resource="ksno/model/Text.hbm.xml"/>
    <mapping resource="ksno/model/Transaction.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="ksno/model/Instruction.hbm.xml"/>
    <mapping resource="ksno/model/UserRoles.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
